<a href="https://colab.research.google.com/github/JakeOh/202208_itw_java134_lab_python/blob/main/py05_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List(리스트)

list: 여러개의 값들을 하나의 변수에 저장하기 위한 데이터 타입.

* element(원소, 요소): 리스트에 저장되는 각각의 값.
* index(인덱스): 리스트에 원소들이 저장된 위치.
    * 리스트의 인덱스는 **0**부터 시작
    * 리스트의 마지막 인덱스는 **(원소 개수 - 1)**
* 리스트는 원소들을 추가/삭제/변경할 수 있음.
    * `tuple`과 다른 점!

In [11]:
# 숫자들을 저장하는 리스트
numbers = [1, 2, 3, 10, 20, 30]
print(numbers)

[1, 2, 3, 10, 20, 30]

In [12]:
numbers

[1, 2, 3, 10, 20, 30]

## indexing

인덱스를 사용해서 리스트에서 원소를 참조하는 방법.

In [13]:
numbers[0]  # 리스트의 첫번째 원소 값

1

In [14]:
numbers[5]  # 리스트의 마지막 원소 값

30

In [15]:
numbers[-1]

30

## slicing

인덱스를 사용해서 리스트의 부분집합(리스트)를 잘라내는 방법.

```
list[start:end]
```

* start <= index < end 범위의 인덱스 위치의 원소들을 잘라냄.
* start를 생략한 경우에는 첫번째 원소부터 잘라냄. `list[:10]`과 `list[0:10]`은 동일.
* end를 생략한 경우에는 마지막 원소까지 잘라냄.
* 리스트를 slicing한 결과는 또다른 새로운 리스트!

In [18]:
# 리스트 numbers에서 첫번째 원소부터 순서대로 3개 잘라냄
numbers[:3]

[1, 2, 3]

In [22]:
# 리스트 numbers에서 끝에서 3개의 원소를 잘라냄
numbers[3:6]

[10, 20, 30]

In [23]:
numbers[-3:]

[10, 20, 30]

In [25]:
print(numbers[0:1])  # slicing => list
print(numbers[0])  # indexing => element

[1]
1

# 문자열

문자열: 문자들의 리스트. indexing, slicing을 사용할 수 있음.

In [26]:
message = '안녕하세요, 파이썬!'  # 11개의 문자들을 원소로 갖는 문자열

In [27]:
message[0]  # 문자열의 첫번째 글자

'안'

In [28]:
message[10]  # 문자열의 마지막 글자

'!'

In [29]:
message[-1]

'!'

In [30]:
message[:3]  # 앞에서 3글자

'안녕하'

In [31]:
message[-3:]  # 뒤에서 3글자

'이썬!'

In [32]:
# 문자열 + 문자열
'Hello' + 'Python'

'HelloPython'

In [33]:
# 문자열 * 정수 또는 정수 * 문자열
'Hello' * 3

'HelloHelloHello'

# list의 산술 연산

* `list + list`
* `list * 정수` 또는 `정수 * list`

In [34]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [35]:
3 * [1, 2, 3]

[1, 2, 3, 1, 2, 3, 1, 2, 3]

# list 객체의 기능(메서드)

* `list.append(value)`: 리스트의 가장 마지막에 새로운 원소(value)를 추가.
* `list.insert(index, value)`: 리스트의 index 위치에 value를 추가.
* `list.extend(iterable)`: list1 + list2.
* `list.remove(value)`: 리스트에서 처음 등장하는 value를 삭제.
* `list.pop(index)`: 리스트에서 index 위치에 있는 원소를 삭제.
* `list.clear()`: 리스트의 모든 원소를 삭제.

In [36]:
list1 = [1, 2, 3, 4, 5]

In [37]:
list1.append(10)

In [38]:
list1

[1, 2, 3, 4, 5, 10]

In [40]:
list1.extend([100])

In [41]:
list1

[1, 2, 3, 4, 5, 10, 100]

In [42]:
list1.extend([100, 200, 300])

In [43]:
list1

[1, 2, 3, 4, 5, 10, 100, 100, 200, 300]

In [44]:
list1.append([1, 2, 3, 4, 5])

In [45]:
list1

[1, 2, 3, 4, 5, 10, 100, 100, 200, 300, [1, 2, 3, 4, 5]]

In [46]:
list1.clear()

In [48]:
list1

[]

# list와 for 반복문

In [49]:
for x in '안녕하세요':
    print(x)

안
녕
하
세
요

In [50]:
numbers = [1, 3, 10, 20]
for x in numbers:
    print(x)

1
3
10
20

In [51]:
for i, v in enumerate(numbers):
    print(i, ':', v)

0 : 1
1 : 3
2 : 10
3 : 20

파이썬에서 난수 생성: `random` 모듈을 import하고  `random` 모듈의 함수를 사용.

In [52]:
import random

In [56]:
random.random()  # [0, 1) 범위(0 <= x < 1)의 실수 난수 1개를 리턴.

0.8512176225254976

In [70]:
random.randrange(10)  # [0, 10) 범위(0 <= x < 10)의 정수 난수 1개를 리턴.

0

In [71]:
random.randint(0, 2)  #[0, 2] 범위(0 <= x <= 2)의 정수 난수 1개를 리턴.

2

# Exercises

## Ex 1.

1. 빈 리스트를 생성.
1. 1 이상 10 이하의 정수 난수 5개를 저장.
1. 리스트의 모든 정수들의 합을 출력.
1. 리스트의 모든 정수들의 평균을 출력.

In [78]:
numbers = []
numbers

[]

In [79]:
for _ in range(5):
    numbers.append(random.randrange(1, 11))
print(numbers)

[10, 2, 6, 5, 4]

In [80]:
sum(numbers)

27

In [83]:
total = 0
for x in numbers:
    total += x

print(f'합계 = {total}')

합계 = 27

In [86]:
total / len(numbers)

5.4

## Ex 2.

1. 빈 리스트(numbers)를 생성.
1. 10 이상, 100 미만의 정수 난수 10개를 numbers에 저장.
1. numbers에서 짝수들만 선택해서 evens 리스트를 만듦.
1. numbers에서 홀수들만 선택해서 odds 리스트를 만듦.

In [90]:
numbers = []  # 난수 10개를 저장할 빈 리스트
for _ in range(10):
    numbers.append(random.randrange(10, 100))
print(numbers)

evens = []  # numbers에서 짝수들만 저장할 빈 리스트
odds = []  # numbers에서 홀수들만 저장할 빈 리스트
for x in numbers:  # numbers의 원소들을 첫번째 원소부터 마지막 원소까지 순서대로 반복하면서
    if x % 2:  # 2로 나눈 나머지가 있다면(홀수이면)
        odds.append(x)
    else:  # 2로 나눈 나머지가 없다면(짝수이면)
        evens.append(x)

print(evens)
print(odds)

[77, 26, 73, 11, 49, 90, 83, 93, 78, 94]
[26, 90, 78, 94]
[77, 73, 11, 49, 83, 93]

## Ex 3.

1. 빈 리스트 numbers를 만듦.
1. -10 이상 10 이하인 범위의 정수 난수 10개를 numbers에 저장.
1. numbers의 원소가 양수이면 True, 그렇지 않으면 False를 저장하는 is_positive 리스트를 만듦.

In [95]:
numbers = []
for _ in range(10):
    numbers.append(random.randrange(-10, 11))
print(numbers)

is_positive = []
for x in numbers:
    if x > 0:
        is_positive.append(True)
    else:
        is_positive.append(False)

print(is_positive)

[-8, -6, 7, 7, 4, 6, -2, 3, 5, 0]
[False, False, True, True, True, True, False, True, True, False]

## Ex 4.

1. gender_codes 리스트에 0 또는 1을 랜덤하게 10개를 저장.
1. gender_codes의 값이 0이면 'Male', 그렇지 않으며 'Female'을 저장하는 genders 리스트를 만듦.

In [97]:
gender_codes = []
for _ in range(10):
    gender_codes.append(random.randrange(0, 2))
print(gender_codes)

genders = []
for code in gender_codes:
    if code == 0:
        genders.append('Male')
    else:
        genders.append('Female')
print(genders)

[0, 0, 0, 1, 0, 1, 0, 0, 0, 0]
['Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male']

# list comprehension(리스트 내포)

1부터 10까지 정수들을 차례로 저장하고 있는 리스트

In [99]:
numbers = []
for x in range(1, 11):
    numbers.append(x)

print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [100]:
numbers = [x for x in range(1, 11)]
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Ex.1 ~ Ex.4 문제를 list comprehension으로 작성.