<a href="https://colab.research.google.com/github/JakeOh/202208_itw_java134_lab_python/blob/main/py10_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1급 객체(first-class object)로서의 함수


함수는 객체(object)다.

* 함수는 변수에 할당할 수 있음.
* 함수의 파라미터에 다른 함수를 전달할 수 있음.
* 함수의 리턴 값이 함수가 될 수 있음.
* 함수 내부에서 다른 함수를 정의할 수 있음.

## 함수를 변수에 할당

In [1]:
def twice(x):
    return 2 * x

In [2]:
result = twice(5)  # 함수 twice의 호출 결과(리턴 값)을 변수 result에 할당.
result

10

In [3]:
double = twice  # 함수 twice 객체를 변수 double에 할당.
double

In [4]:
double(100)  # 함수 호출

200

## 파라미터에 함수를 전달

In [5]:
def calculator(x, y, fn):
    """
    x, y: 숫자 타입(int, float).
    fn: 숫자 2개를 argument로 전달받고, 숫자를 리턴하는 함수.
    """
    result = fn(x, y)
    return result

In [6]:
def plus(x, y):
    return x + y

In [7]:
calculator(1, 2, plus)

3

## 내부 함수, 함수 리턴

In [8]:
def make_increments(n):
    # 내부 함수(inner function). 지역 함수(local function).
    def add_n(x):
        # 내부 함수는 외부 함수의 지역 변수들을 사용할 수 있음.
        return x + n

    return add_n  # 함수 객체를 리턴.

In [9]:
increase_by_2 = make_increments(2)

In [10]:
increase_by_2

In [11]:
increase_by_2(100)

102

In [12]:
increase_by_10 = make_increments(10)
increase_by_10(100)

110