<a href="https://colab.research.google.com/github/JakeOh/202208_itw_java134_lab_python/blob/main/py11_oop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# OOP(Object-Oriented Programming, 객체 지향 프로그래밍)

## list, dict 데이터 타입 사용 프로그래밍

In [7]:
students = [
    {'name': 'aaa', 'java': 100, 'python': 90, 'javascript': 70},
    {'name': 'bbb', 'java': 90, 'python': 80, 'javascript': 90},
    {'name': 'ccc', 'java': 50, 'python': 100, 'javascript': 99}
]

In [8]:
# 각 학생의 3과 총점과 평균 출력
for s in students:
    total = s['java'] + s['python'] + s['javascript']
    mean = total / 3
    print(f'이름: {s["name"]}, 총점: {total}, 평균: {mean}')

이름: aaa, 총점: 260, 평균: 86.66666666666667
이름: bbb, 총점: 260, 평균: 86.66666666666667
이름: ccc, 총점: 249, 평균: 83.0

## 함수형 프로그래밍(Functional programming)

In [9]:
def create_student(name, java, python, javascript):
    student = {
        'name': name,
        'java': java,
        'python': python,
        'javascript': javascript
    }
    return student

In [10]:
students = [
    create_student('김길동', 100, 90, 90),
    create_student('이길동', 50, 60, 70),
    create_student('박길동', 100, 100, 99)
]

In [11]:
def get_total(student):
    return student['java'] + student['python'] + student['javascript']

In [12]:
def get_mean(student):
    return get_total(student) / 3

In [13]:
for s in students:
    name = s['name']
    total = get_total(s)
    mean = get_mean(s)
    print(f'이름: {name}, 총점: {total}, 평균: {mean}')

이름: 김길동, 총점: 280, 평균: 93.33333333333333
이름: 이길동, 총점: 180, 평균: 60.0
이름: 박길동, 총점: 299, 평균: 99.66666666666667

## 객체 지향 프로그래밍(OOP)

In [14]:
class Student:
    # 생성자 함수: 생성자를 호출하면 파이썬 인터프리터에 의해서 자동으로 호출되는 메서드.
    def __init__(self, name, java, python, javascript):
        self.name = name
        self.java = java
        self.python = python
        self.javascript = javascript

    def get_total(self):
        return self.java + self.python + self.javascript

    def get_mean(self):
        return self.get_total() / 3

    def print_info(self):
        print(f'이름: {self.name}, 총점: {self.get_total()}, 평균: {self.get_mean()}')

In [15]:
student1 = Student('홍길동', 100, 100, 100)

In [16]:
student1.print_info()

이름: 홍길동, 총점: 300, 평균: 100.0

# 클래스 작성 연습

In [17]:
import math  # sqrt() 함수 사용하기 위해서


* 2차원 평면의 점의 좌표(x, y)를 표현하는 클래스.
* 메서드:
    * 점의 좌표를 원래 위치에서 dx, dy만큼 이동시키는 메서드.
    * 두 점 간의 거리를 리턴하는 메서드.

In [18]:
class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y

    def move(self, dx, dy):
        self.x += dx
        self.y += dy
        return self

    def distance(self, pt):
        return math.sqrt((self.x - pt.x) ** 2 + (self.y - pt.y) ** 2)

In [19]:
# 좌표가 원점(0, 0)인 Point 타입 객체 생성
point0 = Point(0, 0)
point0

In [20]:
print(point0.x)  # point0 인스턴스의 속성(필드)
print(point0.y)

0
0

In [21]:
point0.move(1, 2)

In [22]:
print(point0.x)
print(point0.y)

1
2

In [23]:
point1 = Point(1, 0)
point0.distance(point1)

2.0