<a href="https://colab.research.google.com/github/JakeOh/202208_itw_java134_lab_python/blob/main/py12_inheritance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 상속(Inheritance)

* super class(상위 클래스), parent class(부모 클래스), base class(기본 클래스)
* sub class(하위 클래스), child class(자식 클래스), derived class(유도 클래스)
* 상속: 상위 클래스의 속성(데이터)들과 기능(메서드)들을 하위 클래스에서 재사용하는 것.
* 일반적으로 **IS-A** 관계가 성립하는 객체들을 상속을 사용해서 구현함.
    * 학생은 사람이다. Student IS A person.
        * Person - super class
        * Student - sub class
* **HAS-A** 관계가 성립하는 객체들은 일반적으로 상속이 아니라 클래스의 속성(멤버 변수)로 구현함.
    * 학생은 성적을 가지고 있다. Student HAS A score.

파이썬에서 상속을 구현:

```
class SubClass(SuperClass):
    구현 코드
```

In [8]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.__age = age  # Python에서 private 인스턴스 변수 선언

    def hello(self):
        print(f'안녕하세요, 저는 {self.name}입니다.')

    def get_age(self):
        return self.__age  # private 변수는 class 내부에서만 접근 가능.

In [9]:
oh_ssam = Person('오쌤', 16)
oh_ssam.hello()

안녕하세요, 저는 오쌤입니다.

In [10]:
# print(oh_ssam.__age)  #-> 에러 발생: private 변수는 직접 접근이 안됨.
oh_ssam.get_age()

16

In [11]:
class Student(Person):
    pass

In [12]:
student1 = Student('홍길동', 16)

In [13]:
student1.hello()

안녕하세요, 저는 홍길동입니다.

# Method Override

* 상위 클래스의 메서드를 하위 클래스에서 재정의하는 것.
    * 파이썬에서는 메서드의 이름만 같으면 (파라미터 타입/개수와 상관 없이) 메서드가 재정의됨.
        * 파이썬은 같은 이름으로 2개 이상의 메서드(함수)를 가질 수 없음 - overloading은 제공하지 않음.
    * 자바에서는 메서드 이름, 파라미터 타입/개수/순서가 모두 동일한 경우에 메서드가 재정의됨.
        * 파라미터가 다르면 같은 이름의 메서드가 2개 이상 있을 수 있음 - overloading
* 하위 클래스에서 재정의(overrid)된 상위 클래스의 메서드를 명시적으로 호출하기 위해서는 `super().method_name(...)`의 형식으로 호출함.

In [18]:
class BusinessPerson(Person):
    def __init__(self, name, age, company):
        # 상위 클래스의 __init__ 메서드를 호출
        super().__init__(name, age)
        self.company = company  # 하위 클래스에서 상위 클래스를 확장한 속성.

    # 상위 클래스의 hello() 메서드 override
    def hello(self):
        # 상위 클래스에서 정의된 메서드를 명시적으로 호출
        super().hello()
        print(f'저는 {self.company} 사원입니다.')

In [19]:
person1 = BusinessPerson('홍길동', 16, '아이티윌')

In [20]:
person1.hello()

안녕하세요, 저는 홍길동입니다.
저는 아이티윌 사원입니다.

In [21]:
person1.get_age()

16

# `isinstance` 메서드

In [22]:
isinstance(person1, Person)

True

In [23]:
isinstance(person1, BusinessPerson)

True

In [24]:
person2 = Person('무명씨', 20)

In [25]:
isinstance(person2, Person)

True

In [26]:
isinstance(person2, BusinessPerson)

False

In [27]:
class Animal:
    def move(self):
        pass

class Dog(Animal):
    def move(self):
        print('댕댕이는 총총총...')

class Bird(Animal):
    def move(self):
        print('새는 펄럭펄럭...')

class Tree:
    pass

In [29]:
array = [Dog(), Bird(), Tree()]
for x in array:
    if isinstance(x, Animal):
        x.move()

댕댕이는 총총총...
새는 펄럭펄럭...