<a href="https://colab.research.google.com/github/JakeOh/202208_itw_java134_lab_python/blob/main/py18_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

# Series

* 한가지 타입의 값들 여러개를 저장할 수 있는 1차원 모양의 데이터 타입(클래스)
* 축(axis) 레이블을 가지고 있는 1차원 배열(ndarray)

In [3]:
s = pd.Series(data=[1, 2, -3, -4, 5, -6])

In [4]:
s  # expression 출력: __repr__()

0    1
1    2
2   -3
3   -4
4    5
5   -6
dtype: int64

In [5]:
print(s)  # print 함수 출력: __str__()

0    1
1    2
2   -3
3   -4
4    5
5   -6
dtype: int64

## `pd.Series` 속성들

In [6]:
s.index  # Series 객체의 레이블

RangeIndex(start=0, stop=6, step=1)

In [7]:
s.values  # Series 객체의 값들로만 이루어진 numpy.ndarray

array([ 1,  2, -3, -4,  5, -6])

In [9]:
s2 = pd.Series(data=[1, 3, 5, 7], index=['a', 'b', 'c', 'd'])
s2

a    1
b    3
c    5
d    7
dtype: int64

In [10]:
s2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [11]:
s2.values

array([1, 3, 5, 7])

## indexing, slicing - `iloc`, `loc` 속성

* `iloc`: 정수 인덱스(`ndarray`의 기본 인덱스) 기반의 원소 참조(integer location).
* `loc`: 레이블 기반의 원소 참조(location).

In [12]:
s

0    1
1    2
2   -3
3   -4
4    5
5   -6
dtype: int64

In [13]:
s.iloc[0]  # indexing

1

In [15]:
print(s.iloc[5])
print(s.iloc[-1])

-6
-6

In [16]:
s.iloc[:3]  # [0, 3) slicing - Series에서 첫 3개 원소 잘라냄.

0    1
1    2
2   -3
dtype: int64

In [17]:
s.iloc[-3:]  # Series에서 끝에 있는 3개 원소 잘라냄.

3   -4
4    5
5   -6
dtype: int64

In [18]:
s

0    1
1    2
2   -3
3   -4
4    5
5   -6
dtype: int64

In [19]:
s.loc[0]

1

In [22]:
s.loc[5]
# s.loc[-1]  # 에러 발생!!!

-6

In [23]:
s.loc[:3]  # [0, 3] 범위의 인덱스로 slicing

0    1
1    2
2   -3
3   -4
dtype: int64

In [26]:
s.loc[3:5]

3   -4
4    5
5   -6
dtype: int64

`Series`에서 인덱싱은 `loc` 방식이 기본 인덱싱 방식, 슬라이싱은 `iloc` 방식이 기본 슬라이싱 방식.

In [27]:
s

0    1
1    2
2   -3
3   -4
4    5
5   -6
dtype: int64

In [30]:
print(s[0])  # s.loc[0]
# print(s[-1])  # s.loc[-1] - loc에서는 음수 인덱스 사용 불가.

1

In [31]:
print(s[:2])  # s.iloc[:2] - [0, 2) 정수 인덱스 범위 잘라내기

0    1
1    2
dtype: int64

In [32]:
s2

a    1
b    3
c    5
d    7
dtype: int64

In [41]:
print(s2.loc['a'])
print(s2.iloc[0])

1
1

In [45]:
print(s2.loc[:'b'])  # s2.loc['a':'b']
print(s2.iloc[:2])  # s2.iloc[0:2]

a    1
b    3
dtype: int64
a    1
b    3
dtype: int64

## fancy indexing

In [46]:
s

0    1
1    2
2   -3
3   -4
4    5
5   -6
dtype: int64

In [48]:
print(s.loc[[0, 1, 4]])
print(s.iloc[[0, 1, 4]])

0    1
1    2
4    5
dtype: int64
0    1
1    2
4    5
dtype: int64

In [49]:
s2

a    1
b    3
c    5
d    7
dtype: int64

In [51]:
print(s2.loc[['a', 'd']])
print(s2.iloc[[0, 3]])

a    1
d    7
dtype: int64
a    1
d    7
dtype: int64

## boolean indexing

In [54]:
s

0    1
1    2
2   -3
3   -4
4    5
5   -6
dtype: int64

In [55]:
s > 0

0     True
1     True
2    False
3    False
4     True
5    False
dtype: bool

In [56]:
s[s > 0]

0    1
1    2
4    5
dtype: int64

In [57]:
s.loc[s > 0]

0    1
1    2
4    5
dtype: int64

# `DataFrame`

* 데이터를 2차원(행 row, 열 column) 형태로 저장하는 데이터 타입(클래스).
* 데이터베이스의 테이블과 비슷한 구조.

In [58]:
data = {
    'city': ['서울'] * 3 + ['경기도'] * 3,
    'year': [2020, 2021, 2022] * 2,
    'pop': [1.1, 1.11, 1.09, 1.2, 1.25, 1.31]
}
data  # dict

{'city': ['서울', '서울', '서울', '경기도', '경기도', '경기도'],
 'year': [2020, 2021, 2022, 2020, 2021, 2022],
 'pop': [1.1, 1.11, 1.09, 1.2, 1.25, 1.31]}

In [59]:
df = pd.DataFrame(data)

In [60]:
df

  city  year   pop
0   서울  2020  1.10
1   서울  2021  1.11
2   서울  2022  1.09
3  경기도  2020  1.20
4  경기도  2021  1.25
5  경기도  2022  1.31

In [61]:
print(df)

  city  year   pop
0   서울  2020  1.10
1   서울  2021  1.11
2   서울  2022  1.09
3  경기도  2020  1.20
4  경기도  2021  1.25
5  경기도  2022  1.31

## `DataFrame`의 속성들

In [62]:
print('shape:', df.shape)  # (row 개수, column 개수)
print('index:', df.index)  # 행 레이블
print('columns:', df.columns)  # 열 레이블(열 이름)

shape: (6, 3)
index: RangeIndex(start=0, stop=6, step=1)
columns: Index(['city', 'year', 'pop'], dtype='object')