<a href="https://colab.research.google.com/github/JakeOh/202208_itw_java134_lab_python/blob/main/py19_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd  # Series, DataFrame
import seaborn as sns  # 시각화. 예제 데이터 셋.

# tips DataFrame

In [2]:
tips = sns.load_dataset('tips')

In [3]:
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

tips dataset

* total_bill: 영수증 금액
* tip: 팁
* sex: 성별(Female, Male)
* smoker: 흡연 여부(No, Yes)
* day: 요일(Thur, Fri, Sat, Sun, ...)
* time: 영업 시간(Lunch, Dinner)
* size: 일행 수

In [4]:
tips.shape  # (row 개수, column 개수)

(244, 7)

In [5]:
tips.columns  # 컬럼 레이블(이름)

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [6]:
tips.index  # 행(row) 레이블

RangeIndex(start=0, stop=244, step=1)

* DataFrame의 첫 6개 행 출력

In [7]:
tips.iloc[:6]

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4

In [8]:
tips.head(n=6)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4

* DataFrame의 마지막 6개 행을 출력

In [9]:
tips.iloc[-6:]

     total_bill   tip     sex smoker   day    time  size
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [10]:
tips.tail(n=6)

     total_bill   tip     sex smoker   day    time  size
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

* DataFrame에서 숫자 타입 변수(컬럼)의 기술 통계량

In [12]:
tips[['total_bill', 'tip', 'size']].describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

* 카테고리 타입 변수(컬럼)의 빈도수를 출력

In [13]:
tips['sex'].value_counts()

Male      157
Female     87
Name: sex, dtype: int64

In [18]:
tips.day.value_counts()

Sat     87
Sun     76
Thur    62
Fri     19
Name: day, dtype: int64

In [15]:
tips.smoker.value_counts()

No     151
Yes     93
Name: smoker, dtype: int64

In [22]:
tips.time.value_counts()

Dinner    176
Lunch      68
Name: time, dtype: int64

In [23]:
tips['size'].value_counts()  # tips.size.value_counts() 안됨!!!

2    156
3     38
4     37
5      5
1      4
6      4
Name: size, dtype: int64

* 영수증 금액이 최댓값인 레코드(행)을 출력

In [27]:
tips[tips.total_bill == tips.total_bill.max()]

     total_bill   tip   sex smoker  day    time  size
170       50.81  10.0  Male    Yes  Sat  Dinner     3

In [30]:
tips.total_bill.argmax()  # 최댓값의 인덱스(int position)

170

In [35]:
tips.iloc[tips.total_bill.argmax()]  # tips.iloc[170] -> Series

total_bill     50.81
tip             10.0
sex             Male
smoker           Yes
day              Sat
time          Dinner
size               3
Name: 170, dtype: object

In [36]:
tips.iloc[[tips.total_bill.argmax()]]  # tips.iloc[[170]] -> DataFrame

     total_bill   tip   sex smoker  day    time  size
170       50.81  10.0  Male    Yes  Sat  Dinner     3

* 영수증 금액이 최솟값인 레코드를 출력

In [37]:
tips.total_bill.min()

3.07

In [38]:
tips[tips.total_bill == tips.total_bill.min()]

    total_bill  tip     sex smoker  day    time  size
67        3.07  1.0  Female    Yes  Sat  Dinner     1

In [39]:
tips.total_bill.argmin()

67

In [40]:
tips.iloc[tips.total_bill.argmin()]

total_bill      3.07
tip              1.0
sex           Female
smoker           Yes
day              Sat
time          Dinner
size               1
Name: 67, dtype: object

In [41]:
tips.iloc[[tips.total_bill.argmin()]]

    total_bill  tip     sex smoker  day    time  size
67        3.07  1.0  Female    Yes  Sat  Dinner     1

* 영수증 금액이 최댓값이거나 최솟값인 레코드들을 출력

In [42]:
tips[(tips.total_bill == tips.total_bill.max()) |
     (tips.total_bill == tips.total_bill.min())]

     total_bill   tip     sex smoker  day    time  size
67         3.07   1.0  Female    Yes  Sat  Dinner     1
170       50.81  10.0    Male    Yes  Sat  Dinner     3

In [43]:
tips.iloc[[tips.total_bill.argmax(), tips.total_bill.argmin()]]

     total_bill   tip     sex smoker  day    time  size
170       50.81  10.0    Male    Yes  Sat  Dinner     3
67         3.07   1.0  Female    Yes  Sat  Dinner     1

* 성별에 따른 tip의 차이가 있을까?
    * 남성의 tip의 평균, 여성의 tip의 평균
    * 남성의 tip의 최댓값, 여성의 tip의 최댓값
    * 남성의 tip의 최솟값, 여성의 tip의 최솟값
    * 남성의 tip의 중앙값, 여성의 tip의 중앙값

In [44]:
# 성별 컬럼의 unique(중복되지 않는) 값
tips.sex.unique()

['Female', 'Male']
Categories (2, object): ['Male', 'Female']

In [48]:
# 성별 팁의 평균
for s in tips.sex.unique():
    # print(s)
    print(s, ':', tips[tips.sex == s]['tip'].mean())

Female : 2.8334482758620685
Male : 3.0896178343949043

In [52]:
# 성별 팁의 최댓값
tips[tips.sex == 'Female']['tip'].max()

6.5

In [53]:
tips[tips.sex == 'Male']['tip'].max()

10.0

In [54]:
# 성별 팁의 최솟값
for s in tips.sex.unique():
    print(s, ':', tips[tips.sex == s]['tip'].min())

Female : 1.0
Male : 1.0

In [55]:
# 성별 팁의 중앙값
for s in tips.sex.unique():
    print(s, ':', tips[tips.sex == s]['tip'].median())

Female : 2.75
Male : 3.0


* 흡연 여부별로 팁의 차이가 있을까?
    * 흡연 여부별 팁의 평균
* 요일별로 팁의 차이가 있을까?
    * 요일별 팁의 평균
* 시간별 팁의 차이가 있을까?
    * 시간(Lunch, Dinner)별 팁의 평균