<a href="https://colab.research.google.com/github/JakeOh/202208_itw_java134_lab_python/blob/main/py19_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [60]:
import numpy as np  # numpy의 통계 함수 이름들을 사용하기 위해서.
import pandas as pd  # Series, DataFrame
import seaborn as sns  # 시각화. 예제 데이터 셋.

# tips DataFrame

In [2]:
tips = sns.load_dataset('tips')

In [3]:
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

tips dataset

* total_bill: 영수증 금액
* tip: 팁
* sex: 성별(Female, Male)
* smoker: 흡연 여부(No, Yes)
* day: 요일(Thur, Fri, Sat, Sun, ...)
* time: 영업 시간(Lunch, Dinner)
* size: 일행 수

In [4]:
tips.shape  # (row 개수, column 개수)

(244, 7)

In [5]:
tips.columns  # 컬럼 레이블(이름)

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [6]:
tips.index  # 행(row) 레이블

RangeIndex(start=0, stop=244, step=1)

* DataFrame의 첫 6개 행 출력

In [7]:
tips.iloc[:6]

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4

In [8]:
tips.head(n=6)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4

* DataFrame의 마지막 6개 행을 출력

In [9]:
tips.iloc[-6:]

     total_bill   tip     sex smoker   day    time  size
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [10]:
tips.tail(n=6)

     total_bill   tip     sex smoker   day    time  size
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

* DataFrame에서 숫자 타입 변수(컬럼)의 기술 통계량

In [11]:
tips[['total_bill', 'tip', 'size']].describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

* 카테고리 타입 변수(컬럼)의 빈도수를 출력

In [12]:
tips['sex'].value_counts()

Male      157
Female     87
Name: sex, dtype: int64

In [13]:
tips.day.value_counts()

Sat     87
Sun     76
Thur    62
Fri     19
Name: day, dtype: int64

In [14]:
tips.smoker.value_counts()

No     151
Yes     93
Name: smoker, dtype: int64

In [15]:
tips.time.value_counts()

Dinner    176
Lunch      68
Name: time, dtype: int64

In [16]:
tips['size'].value_counts()  # tips.size.value_counts() 안됨!!!

2    156
3     38
4     37
5      5
1      4
6      4
Name: size, dtype: int64

* 영수증 금액이 최댓값인 레코드(행)을 출력

In [17]:
tips[tips.total_bill == tips.total_bill.max()]

     total_bill   tip   sex smoker  day    time  size
170       50.81  10.0  Male    Yes  Sat  Dinner     3

In [18]:
tips.total_bill.argmax()  # 최댓값의 인덱스(int position)

170

In [19]:
tips.iloc[tips.total_bill.argmax()]  # tips.iloc[170] -> Series

total_bill     50.81
tip             10.0
sex             Male
smoker           Yes
day              Sat
time          Dinner
size               3
Name: 170, dtype: object

In [20]:
tips.iloc[[tips.total_bill.argmax()]]  # tips.iloc[[170]] -> DataFrame

     total_bill   tip   sex smoker  day    time  size
170       50.81  10.0  Male    Yes  Sat  Dinner     3

* 영수증 금액이 최솟값인 레코드를 출력

In [21]:
tips.total_bill.min()

3.07

In [22]:
tips[tips.total_bill == tips.total_bill.min()]

    total_bill  tip     sex smoker  day    time  size
67        3.07  1.0  Female    Yes  Sat  Dinner     1

In [23]:
tips.total_bill.argmin()

67

In [24]:
tips.iloc[tips.total_bill.argmin()]

total_bill      3.07
tip              1.0
sex           Female
smoker           Yes
day              Sat
time          Dinner
size               1
Name: 67, dtype: object

In [25]:
tips.iloc[[tips.total_bill.argmin()]]

    total_bill  tip     sex smoker  day    time  size
67        3.07  1.0  Female    Yes  Sat  Dinner     1

* 영수증 금액이 최댓값이거나 최솟값인 레코드들을 출력

In [26]:
tips[(tips.total_bill == tips.total_bill.max()) |
     (tips.total_bill == tips.total_bill.min())]

     total_bill   tip     sex smoker  day    time  size
67         3.07   1.0  Female    Yes  Sat  Dinner     1
170       50.81  10.0    Male    Yes  Sat  Dinner     3

In [27]:
tips.iloc[[tips.total_bill.argmax(), tips.total_bill.argmin()]]

     total_bill   tip     sex smoker  day    time  size
170       50.81  10.0    Male    Yes  Sat  Dinner     3
67         3.07   1.0  Female    Yes  Sat  Dinner     1

* 성별에 따른 tip의 차이가 있을까?
    * 남성의 tip의 평균, 여성의 tip의 평균
    * 남성의 tip의 최댓값, 여성의 tip의 최댓값
    * 남성의 tip의 최솟값, 여성의 tip의 최솟값
    * 남성의 tip의 중앙값, 여성의 tip의 중앙값

In [28]:
# 성별 컬럼의 unique(중복되지 않는) 값
tips.sex.unique()

['Female', 'Male']
Categories (2, object): ['Male', 'Female']

In [29]:
# 성별 팁의 평균
for s in tips.sex.unique():
    # print(s)
    print(s, ':', tips[tips.sex == s]['tip'].mean())

Female : 2.8334482758620685
Male : 3.0896178343949043

In [30]:
# 성별 팁의 최댓값
tips[tips.sex == 'Female']['tip'].max()

6.5

In [31]:
tips[tips.sex == 'Male']['tip'].max()

10.0

In [32]:
# 성별 팁의 최솟값
for s in tips.sex.unique():
    print(s, ':', tips[tips.sex == s]['tip'].min())

Female : 1.0
Male : 1.0

In [33]:
# 성별 팁의 중앙값
for s in tips.sex.unique():
    print(s, ':', tips[tips.sex == s]['tip'].median())

Female : 2.75
Male : 3.0


* 흡연 여부별로 팁의 차이가 있을까?
    * 흡연 여부별 팁의 평균
* 요일별로 팁의 차이가 있을까?
    * 요일별 팁의 평균
* 시간별 팁의 차이가 있을까?
    * 시간(Lunch, Dinner)별 팁의 평균

In [39]:
# 흡연여부별 팁의 평균
for x in tips.smoker.unique():
    print(x, ':', tips[tips.smoker == x].tip.mean())

No : 2.9918543046357615
Yes : 3.008709677419355

In [41]:
tips.groupby(by='smoker').tip.mean()

smoker
Yes    3.008710
No     2.991854
Name: tip, dtype: float64

In [45]:
# 요일별 팁의 평균
for x in tips['day'].unique():
    print(x, ':', tips[tips['day'] == x]['tip'].mean())

Sun : 3.2551315789473687
Sat : 2.993103448275862
Thur : 2.771451612903225
Fri : 2.7347368421052627

In [46]:
tips.groupby(by='day')['tip'].mean()

day
Thur    2.771452
Fri     2.734737
Sat     2.993103
Sun     3.255132
Name: tip, dtype: float64

In [48]:
# 시간별 팁의 평균
for x in tips.time.unique():
    print(x, ':', tips[tips.time == x].tip.mean())

Dinner : 3.102670454545454
Lunch : 2.728088235294118

In [49]:
tips.groupby('time').tip.mean()

time
Lunch     2.728088
Dinner    3.102670
Name: tip, dtype: float64

# groupby

## 2개 이상의 카테고리별로 groupby

In [51]:
# 성별, 흡연여부별 팁의 평균
tips.groupby(['sex', 'smoker']).tip.mean()
# -> multi-level index를 갖는 Series 객체를 반환.

sex     smoker
Male    Yes       3.051167
        No        3.113402
Female  Yes       2.931515
        No        2.773519
Name: tip, dtype: float64

In [52]:
tips.groupby(['smoker', 'sex']).tip.mean()

smoker  sex
Yes     Male      3.051167
        Female    2.931515
No      Male      3.113402
        Female    2.773519
Name: tip, dtype: float64

In [53]:
# 성별, 요일별 팁의 평균
tips.groupby(by=['sex', 'day']).tip.mean()

sex     day
Male    Thur    2.980333
        Fri     2.693000
        Sat     3.083898
        Sun     3.220345
Female  Thur    2.575625
        Fri     2.781111
        Sat     2.801786
        Sun     3.367222
Name: tip, dtype: float64

In [54]:
tips.groupby(['day', 'sex']).tip.mean()

day   sex
Thur  Male      2.980333
      Female    2.575625
Fri   Male      2.693000
      Female    2.781111
Sat   Male      3.083898
      Female    2.801786
Sun   Male      3.220345
      Female    3.367222
Name: tip, dtype: float64

## 카테고리별로 2개 이상의 컬럼을 선택

In [57]:
# 성별 영수증 금액의 평균, 팁의 평균
tips.groupby('sex')[['total_bill', 'tip']].mean()

        total_bill       tip
sex
Male     20.744076  3.089618
Female   18.056897  2.833448

In [58]:
# 성별, 흡연여부별 영수증 금액과 팁의 평균
tips.groupby(['sex', 'smoker'])[['total_bill', 'tip']].mean()

               total_bill       tip
sex    smoker
Male   Yes      22.284500  3.051167
       No       19.791237  3.113402
Female Yes      17.977879  2.931515
       No       18.105185  2.773519

## 그룹별 2개 이상의 통계 함수 적용

In [61]:
# 성별 팁의 평균, 최댓값, 최솟값
tips.groupby('sex').tip.agg([np.mean, np.max, np.min])  # aggregate

            mean  amax  amin
sex
Male    3.089618  10.0   1.0
Female  2.833448   6.5   1.0

In [64]:
# 성별 흡연여부별 영수증 금액과 팁의 평균, 표준편차
tips.groupby(['sex', 'smoker'])[['total_bill', 'tip']].agg([np.mean, np.std])

              total_bill                 tip
                    mean       std      mean       std
sex    smoker
Male   Yes     22.284500  9.911845  3.051167  1.500120
       No      19.791237  8.726566  3.113402  1.489559
Female Yes     17.977879  9.189751  2.931515  1.219916
       No      18.105185  7.286455  2.773519  1.128425