<a href="https://colab.research.google.com/github/JakeOh/202208_itw_java134_lab_python/blob/main/py24_yob.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Imports

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# 미국 신생아 이름 데이터 셋

* https://github.com/wesm/pydata-book/tree/3rd-edition/datasets/babynames
* 1880년 ~ 2010년 연도별로 txt 파일이 만들어져 있음.
* 각 파일에는 '이름,성별,신생아수'가 comma(,)로 구분되어 있음.

In [2]:
file_path = 'https://github.com/wesm/pydata-book/raw/3rd-edition/datasets/babynames/yob1880.txt'

In [3]:
yob1880 = pd.read_csv(file_path)

In [4]:
yob1880.head()

        Mary  F  7065
0       Anna  F  2604
1       Emma  F  2003
2  Elizabeth  F  1939
3     Minnie  F  1746
4   Margaret  F  1578

`pd.read_csv()` 함수는 파일의 첫번째 줄을 데이터프레임의 컬럼 이름으로 취급함(기본값).

CSV 파일에 컬럼 이름이 포함되어 있지 않은 경우(파일의 첫번째 줄부터 데이터가 시작되는 경우)에는 컬럼 이름들을 함수의 argument로 전달해야 함.

In [5]:
yob1880 = pd.read_csv(file_path, names=['name', 'gender', 'births'])

In [6]:
yob1880.head()

        name gender  births
0       Mary      F    7065
1       Anna      F    2604
2       Emma      F    2003
3  Elizabeth      F    1939
4     Minnie      F    1746

In [7]:
yob1880.tail()

           name gender  births
1995     Woodie      M       5
1996     Worthy      M       5
1997     Wright      M       5
1998       York      M       5
1999  Zachariah      M       5

각 TXT 파일을 읽어서 만들어진 연도별 데이터프레임들을 저장하는 리스트를 만드세요. (리스트의 길이는 131)

* 빈 리스트 변수 선언
* 1880 ~ 2010 반복
* 각 연도 파일을 읽어서 데이터프레임 생성
    * 각각의 데이터프레임에는 year 컬럼을 추가 -> 연도별 통계를 하기 위해서
* 데이터프레임을 리스트에 append

In [8]:
col_names = ['name', 'gender', 'births']  # 데이터프레임의 컬럼 이름들

In [10]:
yobs = []  # 데이터프레임들을 저장할 리스트
for year in range(1880, 2011):  # 1880 ~ 2010년까지 반복
    # txt 파일이 저장된 경로
    file_path = f'https://github.com/wesm/pydata-book/raw/3rd-edition/datasets/babynames/yob{year}.txt'
    # 파일 읽어서 데이터프레임 생성
    df = pd.read_csv(file_path, names=col_names)
    # 데이터프레임에 year 컬럼을 추가 - 파생변수 추가
    df['year'] = year
    # 데이터프레임을 리스트에 추가
    yobs.append(df)

In [11]:
len(yobs)  # 2010 - 1880 + 1

131

In [12]:
yobs[0].head()  # 리스트의 각 원소는 데이터프레임.

        name gender  births  year
0       Mary      F    7065  1880
1       Anna      F    2604  1880
2       Emma      F    2003  1880
3  Elizabeth      F    1939  1880
4     Minnie      F    1746  1880

In [14]:
yobs[0].tail()

           name gender  births  year
1995     Woodie      M       5  1880
1996     Worthy      M       5  1880
1997     Wright      M       5  1880
1998       York      M       5  1880
1999  Zachariah      M       5  1880

In [15]:
# 리스트의 마지막 원소 - 2010년 데이터프레임
yobs[-1].head()

       name gender  births  year
0  Isabella      F   22731  2010
1    Sophia      F   20477  2010
2      Emma      F   17179  2010
3    Olivia      F   16860  2010
4       Ava      F   15300  2010

In [16]:
yobs[-1].tail()

            name gender  births  year
33833    Zymaire      M       5  2010
33834     Zyonne      M       5  2010
33835  Zyquarius      M       5  2010
33836      Zyran      M       5  2010
33837      Zzyzx      M       5  2010